/* Colores */
:root {
    --Grisoscuro: #1E201E;
    --Grisclaro: #DFDFDF;
    --Beige: #ECDFCC;
    --Verde: #0CA789;
    --VerdeHover: #098169;
    --blanco: #ffffff;
    --Footer: #1A1A1A;
    --dona: #E6E6E6;
    
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem; /*1Rem = 10px*/
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--blanco);
}

/* Tipografía */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}
/* Color de todo el texto tipo parrafo */
p {
    color: #ffffff;
}

/* Header */

.contenido-hd {
    display: flex;
    align-items: center;
}

.contenido-hd h1 {
    color: var(--blanco);
    padding: 1rem;
}

.logo {
    background-image: url(sources/END_LOGO.png);
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.video{
    height: auto;
    width: auto;
}

.video img {
    margin: 2rem;
    /* height: 20rem;*/
    width: 95%;
    /* margin: 20rem 10rem; */
} 

/* Barra de navegación */

.nav-bg {
    background-color: var(--Grisoscuro);
    /* display: flex; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cont-navbar {
    display: flex;
    margin: 0 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    /* position: fixed; */
    /* z-index: 1000; */
}

.cont-navbar a {
    color: white;
    text-decoration: none;
}

/* CONTENIDO DONATIVO */

.titulo-donativo {
    background-color: #1c1a25;
    padding: 1.5rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.titulo-donativo h2 {
    color: white;
}

.cont-donativo {
    display: flex;
    background-color: var(--Grisclaro);
    padding: 1rem;
    /* height: 100%; */
    margin: 0rem 7.5rem;
    margin-bottom: 3rem;
}

.cont-info{
    background-color: var(--dona);
    margin: 2rem;
    border-radius: 30px;
    text-align: justify;
    max-width: 50%;
    /* height: 100%; */
    /* border: 0.2rem solid black; */
    padding: 0.1rem 3rem;
}

.cont-info h2{
    text-align: center;
}

.cont-info p{
    color: #1c1a25
}

.donativo{
    /* display: inline-block; */
    display: block;
    background-color: var(--dona);
    width: 50%;
    border-radius: 30px;
    padding: 0.1rem 3rem;
    text-align: center;
}

.donativo h2{
    text-align: center;
}

/* DISEÑOS DE LOS BOTONES */
.donativo .boton {
    color: #fff;
    background-color: var(--Verde);
    border-color: var(--Verde);
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 1.4rem;
    border-radius: 1rem;
    width: 20%;
    margin: 13px;
}

.donativo .boton:hover {
    background-color: var(--VerdeHover);
    border-color: var(--VerdeHover);
}

.donativo .boton-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los botones se acomoden en filas si es necesario */
    gap: 10px; /* Añade espacio entre los botones */
}

/* FOOTER */
.footer{
    display: flex;
    background-color: var(--Footer);
}

.footer h2{
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer .espacio-logo {
    width: 30%;
    /* justify-self: center; */
}

.footer .registro {
    width: 30%;
    ;
}

.footer .informacion {
    width: 30%;
}
/* .cont-info p{
    color: #1c1a25;
} */

/*
body{
    margin: 0;
    padding: 0;
}

/* TODOS LOS ESTILOS DEL HEADER 
.header-s{
    width: 100%;
    height: auto;
    background-color: #0f3e6a;
    display: flex;
}

.imagen{
    height: 100px;
    width: 100px;
    margin: 1rem 1.5rem;
    background-color: white;
    border-radius: 100%;
}

.nom-pag{
    /* background-color: black; 
    width: 100%;
    margin: 28px;
}

.title{
    color: white;
}


/* TODOS LOS ESTILOS DE LA NAVBAR 

.nav-u{
    background-color: #2d9bf0;
    height: 6rem;
    justify-content: end;
    align-items: center;
    display: flex;
}

.nav-u a{
    text-decoration: none;
    top: 50%;
    padding: 1rem;
}

.nav-svg{
    text-decoration: none;
    top: 50%;
    padding: 1rem;
    
} */