/* Colores */
:root {
    --Grisoscuro: #1E201E;
    --Grisclaro: #3C3D37;
    --Beige: #ECDFCC;
    --Verde: #6A9C89;
    --obscuro: #1c1a25;
    --blanco: #ffffff;
    --gris: #808080;
    --dona: #3c3d3a;
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem; /*1Rem = 10px*/
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--Grisoscuro);
}

/* Tipografía */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}
/* Color de todo el texto tipo parrafo */
p {
    color: #ffffff;
}

/* Header */

.contenido-hd {
    display: flex;
    align-items: center;
}

.contenido-hd h1 {
    color: var(--blanco);
    padding: 1rem;
}

.logo {
    background-image: url(sources/END_LOGO.png);
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.video{
    height: auto;
    width: auto;
}
.video img {
    height: 20rem;
    width: 25rem;
    margin: 20rem 10rem;
}

/* Barra de navegación */

.nav-bg {
    background-color: var(--Grisclaro);
}

.cont-navbar {
    display: flex;
    margin: 0 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.cont-navbar a {
    color: white;
    text-decoration: none;
}

/* CONTENIDO DONATIVO */
.cont-donativo {
    display: flex;
    background-color: var(--Grisclaro);
    padding: 1rem;
}

.cont-info{
    background-color: var(--dona);
    margin: 2rem;
    border-radius: 30px;
    text-align: justify;
    border: 0.2rem solid black;
    padding: 0.1rem 3rem;
}

.cont-info h2{
    text-align: center;
}

.cont-info p{
    color: #1c1a25
}

.donativo{
    background-color: var(--dona);
    margin: 2rem;
    border-radius: 30px;
    border: 0.2rem solid black;
    padding: 3rem;
}

/* .cont-info p{
    color: #1c1a25;
} */

/*
body{
    margin: 0;
    padding: 0;
}

/* TODOS LOS ESTILOS DEL HEADER 
.header-s{
    width: 100%;
    height: auto;
    background-color: #0f3e6a;
    display: flex;
}

.imagen{
    height: 100px;
    width: 100px;
    margin: 1rem 1.5rem;
    background-color: white;
    border-radius: 100%;
}

.nom-pag{
    /* background-color: black; 
    width: 100%;
    margin: 28px;
}

.title{
    color: white;
}


/* TODOS LOS ESTILOS DE LA NAVBAR 

.nav-u{
    background-color: #2d9bf0;
    height: 6rem;
    justify-content: end;
    align-items: center;
    display: flex;
}

.nav-u a{
    text-decoration: none;
    top: 50%;
    padding: 1rem;
}

.nav-svg{
    text-decoration: none;
    top: 50%;
    padding: 1rem;
    
} */